body {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: burlywood;
    border: 2px solid rgb(134, 141, 186);
    border-radius: 25px;
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text {
    padding: 14px 45px 14px 15px; /* Adjusted padding */
    font-size: 18px;
    width: 100%; /* Changed to 100% for full width */
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #ccc;
    align-self: center; /* Center the input box */
    border-width: 5px;
    border-color: black;
    
}
#msg{
    display: none;
}

#eye{
    position: absolute;
    right: 25px;
    top: 45%;
    width: 20px;
    height: 20px;
    background-image: url("close-eye.png");
    background-size: cover;
    cursor: pointer;

}
#input-box {
    position: relative;
    width: 100%;
    max-width: 400px;
}